<!--component html goes here -->
<div class="card border-secondary" (click)="sendClickedStudent()">
    <!-- the next line should create the link with data binding -->
    <img class="card-img-top" src="https://www.sideshow.com/product-asset/902965/feature" alt="{{ me.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ me.name }}</h5>
        <p class="card-text">{{ me.desc_short }}</p>
        <a href="#" class="card-link">{{ me.website }}</a>
        <p class="card-text"><small class="text-muted">Updated April 2, 2019 2:15 PM</small></p>
    </div>
  </div> 
  <!--<app-root [clickedStudent]="me"></app-root>-->
