<app-nav></app-nav>

    <div class="container"><br>

        <!-- <selected-student></selected-student> -->
        <selected-student [selected]="clickedStudent"></selected-student>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <card-keschae></card-keschae> <!-- take out and enable your card-->
                <!-- <card-ejzumba (cardClick)="receiveClickedStudent($event)"></card-ejzumba> -->
            </div>
            <div class="col-md-4">
                <card-keschae></card-keschae> <!-- take out and enable your card-->
                <!-- <card-jfturle (cardClick)="receiveClickedStudent($event)"></card-jfturle> -->
            </div>
            <div class="col-md-4">
                <card-keschae></card-keschae> <!-- take out and enable your card-->
                <!-- <card-akruft (cardClick)="receiveClickedStudent($event)"></card-akruft> -->
            </div> <!-- column -->
        </div> <!-- row 1 of cards -->

        <div class="row">
            <div class="col-md-4">
                
                <card-amoy (cardClick)="receiveClickedStudent($event)"></card-amoy>
            </div>
            <div class="col-md-4">
                <card-keschae></card-keschae> <!-- take out and enable your card-->
                <!-- <card-jamcin2 (cardClick)="receiveClickedStudent($event)"></card-jamcin2>  -->
            </div>
            <div class="col-md-4">
                <card-keschae></card-keschae> <!-- take out and enable your card-->
                <!-- <card-ldpigma (cardClick)="receiveClickedStudent($event)"></card-ldpigma> -->
            </div> <!-- column -->
        </div> <!-- row 2 of cards -->

        <div class="row">
            <div class="col-md-12">
                <!-- the following card needs to receive clicked student that is emitted from card component-->
                <card-keschae></card-keschae>
                <!-- wrong way - <card-keschae (click)="setClickedStudent()"></card-keschae> -->            
            </div> <!-- column -->
        </div> <!-- row 3 of cards -->

        <br>

    </div> <!-- container   -->

<app-footer></app-footer>    
